# 第三周作业 - 在Jupyter Notebook中操作MySQL

## 本周的作业是，用Jupyter Notebook向MySQL导入数据，并将结果打包导出。

In [2]:
### 导入所需模块：
import numpy as np
import pandas as pd
import pymysql
from sqlalchemy import create_engine

## 先在终端中登录并手动新建数据库recommend. 命令如下：
### create database recommend charset="utf8";
## 然后分别用pymysql和sqlalchemy建立连接，如下：

In [3]:
connection_1 = pymysql.Connect(
    host='localhost',
    port = 3306,
    user = 'root',
    password = 'Ruhe870825!!!',
    database='recommend',
    charset='utf8'
)

In [4]:
connection_2 = create_engine("mysql+pymysql://root:Ruhe870825!!!@localhost:3306/recommend?charset=utf8")

## 连接建立后，即可对MySQL进行操作。
## 先在数据库recommend中新建5个空表，用于后续的数据导入。表格名称和存放的信息分别如下（从简单到复杂）：
### - status: 用于存放任务状态（已签单，非意向，跟进中等等）并建立id；
### - category: 用于存放客户类别并建立id；
### - customer: 用于存放客户信息（加密后的手机号，类别）并建立id. “类别”表现为数字id，与category表的类别id建立外键关系；
### - staff: 用于存放员工信息（名字，账号，密码）并建立id；
### - mission: 用于存放任务信息（客户，员工，状态，创建日期）并建立id. “客户”，“员工”，“状态”均表现为数字id，并分别与customer, staff和status三表的id建立外键关系。

In [5]:
### status变量，存放用于新建status表的SQL语句：
status = "create table status(id tinyint primary key auto_increment, status varchar(20));"
status

'create table status(id tinyint primary key auto_increment, status varchar(20));'

In [6]:
### category变量，存放用于新建category表的SQL语句：
category = "create table category(id tinyint primary key auto_increment, category varchar(100) not null);"
category

'create table category(id tinyint primary key auto_increment, category varchar(100) not null);'

In [7]:
### customer变量，存放用于新建customer表的SQL语句：
customer = "create table customer(id int primary key auto_increment, cell varchar(32), category_id tinyint, constraint cat foreign key (category_id) references category(id) on delete cascade);"
customer

'create table customer(id int primary key auto_increment, cell varchar(32), category_id tinyint, constraint cat foreign key (category_id) references category(id) on delete cascade);'

In [9]:
### staff变量，存放用于新建staff表的SQL语句：
staff = "create table staff(id int primary key auto_increment, name varchar(16), account varchar(16) unique not null, password varchar(32) not null);"
staff

'create table staff(id int primary key auto_increment, name varchar(16), account varchar(16) unique not null, password varchar(32) not null);'

In [10]:
### mission变量，存放用于新建mission表的SQL语句：
mission = "create table mission(id int primary key auto_increment, customer_id int not null, staff_id int not null, createDate date not null, status_id tinyint not null, constraint cst foreign key (customer_id) references customer(id) on delete cascade, constraint stf foreign key (staff_id) references staff(id) on delete cascade, constraint stts foreign key (status_id) references status(id) on delete cascade);"
mission

'create table mission(id int primary key auto_increment, customer_id int not null, staff_id int not null, createDate date not null, status_id tinyint not null, constraint cst foreign key (customer_id) references customer(id) on delete cascade, constraint stf foreign key (staff_id) references staff(id) on delete cascade, constraint stts foreign key (status_id) references status(id) on delete cascade);'

In [11]:
### 用建立的连接connection_1, 将以上SQL语句写入，在recommend数据库中创建5个空表：
cs = connection_1.cursor()
cs.execute(status)
cs.execute(category)
cs.execute(customer)
cs.execute(staff)
cs.execute(mission)
connection_1.commit()
cs.close()

## 建立空表后，就需要从现存的Excel文件中将数据导入各表。
## 首先可存储的是客户类别信息，即存放客户信息的Excel文件customers.xlsx的表名。

In [12]:
### 从customers.xlsx取得所有表名（列表格式），转为numpy数组后再转为pandas数据表：
categories = pd.ExcelFile("./customers.xlsx").sheet_names
array_categories = np.array(categories)
df_categories = pd.DataFrame(array_categories, columns = ["category"], index = np.arange(1,len(categories)+1))
df_categories.head(5)

   category
1  人事-行政-后勤
2      保健按摩
3        保险
4      其他职位
5  农-林-牧-渔业

In [13]:
### 向recommend数据库中新建的空表category中写入df_categories的数据：
df_categories.to_sql("category",connection_2, index = False, if_exists = "append")

## 导入后，用终端或pycharm打开recommend数据库中的category检查一下，确保数据导出成功。
## 接下来，导入员工信息。打开存放员工信息的Excel文件检查一下，只有“销售信息”一张表，因此直接用pandas导入就可以。

In [14]:
### 导入Excel文件staffs.xlsx的数据：
df_staffs = pd.read_excel("./staffs.xlsx", sheet_name = "销售信息")
df_staffs.head(5)

  name       account                          password
0   张艳  876024831567  b17b1ae95299f365d33f6f28766e34d8
1   李勇  156436662455  cf6088de6b5a5201db2c5d8449efdb15
2   王平  260460121666  67768d6df4fc05b7d74c8b59e17a4ccf
3   李强  775550594765  9b7a25dd2c8b79b8bd9c685d6858b223
4   王芳  965918890050  17e9eba3e021cd4f4412a31dfd1c4f98

In [15]:
### 各列名称和顺序都与数据库中新建的staff表一致，因此直接导出即可：
df_staffs.to_sql("staff",connection_2,index = False, if_exists = "append")

## 惯例检查过后，下一步是导入客户信息。
## 这一步略复杂，因为存放客户信息的Excel文件中有多张表（按类别分）；因此需要引入循环，分别将每张表中的信息转化为子dataframe，然后将所有dataframes做成列表后再拼接。
## 最后，利用已建立的category表中各类别与id的对应关系，将本表中的“类别”转成id, 减少所需的存贮空间。

In [16]:
### 获取客户类别列表，对列表进行遍历，读出customers.xlsx中所有数据表的数据，再拼接起来：
categories = pd.ExcelFile("./customers.xlsx").sheet_names
list_cats = []
for category in categories:
    df_cat = pd.read_excel("./customers.xlsx", sheet_name = category)
    df_cat["category"] = category
    list_cats.append(df_cat)
df_customers = pd.concat(list_cats, axis = 0)
df_customers.head(5)

                                手机号  category
0  94a20c908ea398cefba903e2d6598ea2  人事-行政-后勤
1  5abd29bae58e80cc2513b9aa0f3dd598  人事-行政-后勤
2  90875eb5b8fc1c84cf9a395f642ac092  人事-行政-后勤
3  05f8673bd351bdb9bf3f503013784da8  人事-行政-后勤
4  f4e507f349ac8455d8426db77c377636  人事-行政-后勤

In [17]:
### 检查一下category列的惟一值，以确保拼接成功：
df_customers["category"].unique()

array(['人事-行政-后勤', '保健按摩', '保险', '其他职位', '农-林-牧-渔业', '制药-生物工程', '化工',
       '医院-医疗-护理', '司机-交通服务', '商超零工', '实习生-培训生-储备干部', '客服', '家政保洁-安保',
       '工厂零工', '市场-媒介-公关', '广告-会展-咨询', '建筑', '影视-娱乐-休闲', '志愿者-社会工作者',
       '快递-餐饮配送', '房产中介', '政府-非营利机构', '教育培训', '旅游', '日结零工', '普工-技工',
       '暑期零工', '服装-纺织-食品', '机械-仪器仪表', '汽车制造-服务', '法律', '淘宝职位', '物业管理',
       '物流-仓储', '环保-能源', '生产管理-研发', '电子-电气', '短期零工', '编辑-出版-印刷', '美容-美发',
       '美术-设计-创意', '翻译', '职业培训', '计算机-互联网-通信', '财务-审计-统计', '质控-安防',
       '贸易-采购', '超市-百货-零售', '运动健身', '酒店', '金融-银行-证券-投资', '销售11', '餐饮',
       '餐饮零工', '高级管理'], dtype=object)

In [21]:
### 从刚才保存的category表中读出"id", "category"两列；
df_categories_id = pd.read_sql("select id, category from category;", connection_2, columns = ["id","category"])
df_categories_id.head()

   id  category
0   1  人事-行政-后勤
1   2      保健按摩
2   3        保险
3   4      其他职位
4   5  农-林-牧-渔业

In [22]:
### 将“category”提出来作为索引，然后将读出的内容转化为字典；
df_categories_id.index = df_categories_id["category"]
df_categories_id = df_categories_id.drop(["category"],axis = 1)
dict_categories_id = df_categories_id.to_dict()
dict_categories_id

{'id': {'人事-行政-后勤': 1,
  '保健按摩': 2,
  '保险': 3,
  '其他职位': 4,
  '农-林-牧-渔业': 5,
  '制药-生物工程': 6,
  '化工': 7,
  '医院-医疗-护理': 8,
  '司机-交通服务': 9,
  '商超零工': 10,
  '实习生-培训生-储备干部': 11,
  '客服': 12,
  '家政保洁-安保': 13,
  '工厂零工': 14,
  '市场-媒介-公关': 15,
  '广告-会展-咨询': 16,
  '建筑': 17,
  '影视-娱乐-休闲': 18,
  '志愿者-社会工作者': 19,
  '快递-餐饮配送': 20,
  '房产中介': 21,
  '政府-非营利机构': 22,
  '教育培训': 23,
  '旅游': 24,
  '日结零工': 25,
  '普工-技工': 26,
  '暑期零工': 27,
  '服装-纺织-食品': 28,
  '机械-仪器仪表': 29,
  '汽车制造-服务': 30,
  '法律': 31,
  '淘宝职位': 32,
  '物业管理': 33,
  '物流-仓储': 34,
  '环保-能源': 35,
  '生产管理-研发': 36,
  '电子-电气': 37,
  '短期零工': 38,
  '编辑-出版-印刷': 39,
  '美容-美发': 40,
  '美术-设计-创意': 41,
  '翻译': 42,
  '职业培训': 43,
  '计算机-互联网-通信': 44,
  '财务-审计-统计': 45,
  '质控-安防': 46,
  '贸易-采购': 47,
  '超市-百货-零售': 48,
  '运动健身': 49,
  '酒店': 50,
  '金融-银行-证券-投资': 51,
  '销售11': 52,
  '餐饮': 53,
  '餐饮零工': 54,
  '高级管理': 55}}

In [23]:
### 最后将df_customers中的“category”列转为对应的id：
df_customers["category"] = df_customers["category"].apply(lambda category: dict_categories_id["id"][category])
df_customers.head(5)

                                手机号  category
0  94a20c908ea398cefba903e2d6598ea2         1
1  5abd29bae58e80cc2513b9aa0f3dd598         1
2  90875eb5b8fc1c84cf9a395f642ac092         1
3  05f8673bd351bdb9bf3f503013784da8         1
4  f4e507f349ac8455d8426db77c377636         1

In [24]:
### 修改df_customers的列名，以便将数据导入recommend数据库中的表格customer: 
df_customers.columns = ["cell","category_id"]
df_customers.head(5)

                               cell  category_id
0  94a20c908ea398cefba903e2d6598ea2            1
1  5abd29bae58e80cc2513b9aa0f3dd598            1
2  90875eb5b8fc1c84cf9a395f642ac092            1
3  05f8673bd351bdb9bf3f503013784da8            1
4  f4e507f349ac8455d8426db77c377636            1

In [25]:
### 检查一下“category_id”的惟一值：
df_customers.category_id.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55], dtype=int64)

In [26]:
### 将df_customers的数据导入recommend数据库中的表格customer：
df_customers.to_sql("customer", connection_2, index = False, if_exists = "append")

## 惯例在数据库中检查完导入结果后，下一步：导入任务列表。
## 这是最复杂的一张表，导入pandas前后需要进行如下操作：
### - 添加一列createDate, 数据来源于存储任务信息的Excel文件的各表名（已按日期划分）; 与之前一样，需要引入循环，分别将每张表中的信息转化为子dataframe，然后将所有dataframes做成列表后再拼接。
### - 利用已建立的staff和customer表中员工名/用户手机号与id的对应关系，将本表中的“员工”/“客户”转成对应的id。
### - 提取出任务的状态信息，存入status表中并建立id.
### - 利用新建立的status表中任务状态与id的对应关系，将本表中的“任务状态”转成对应的id.
## 这些步骤都完成后，再进行修改列名，重排各列顺序，最后将数据导出到recommend数据库的mission表中。

In [27]:
### 先按日期将dataframe读出并拼接成df_missions, 同时添加“date”列:
dates = pd.ExcelFile("./missions.xlsx").sheet_names
list_dates = []
for date in dates:
    df_date = pd.read_excel("./missions.xlsx", sheet_name = date)
    df_date["date"] = date
    list_dates.append(df_date)
df_missions = pd.concat(list_dates, axis = 0)
df_missions.head(5)

                                手机号 销售姓名   沟通结果        date
0  04875e81bd8363d57a45023dfe0f6fad   刘洋   继续跟单  2020-06-01
1  664ce871652fc5000537372196d303e1   刘洋  非意向用户  2020-06-01
2  c10304ba5e13f140c15d9ca2356abec2   刘洋  非意向用户  2020-06-01
3  5ba2bc25041f5a246e8fcbd070afb47d   刘洋   继续跟单  2020-06-01
4  fa5dfbe3e3b7bdb1fefe8c2498204d49   刘洋  非意向用户  2020-06-01

In [29]:
### 检查一下“dates”的惟一值：
df_missions.date.unique()

array(['2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04',
       '2020-06-05', '2020-06-06', '2020-06-07', '2020-06-08',
       '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12',
       '2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16',
       '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-20',
       '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24',
       '2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28',
       '2020-06-29', '2020-06-30'], dtype=object)

In [30]:
### 从刚才保存的customer表中读出"id", "cell"两列；
df_customers_id = pd.read_sql("select id, cell from customer;", connection_2, columns = ["id","cell"])
df_customers_id.head()

   id                              cell
0   1  94a20c908ea398cefba903e2d6598ea2
1   2  5abd29bae58e80cc2513b9aa0f3dd598
2   3  90875eb5b8fc1c84cf9a395f642ac092
3   4  05f8673bd351bdb9bf3f503013784da8
4   5  f4e507f349ac8455d8426db77c377636

In [31]:
### 将“cell”提出来作为索引，然后将读出的内容转化为字典；
df_customers_id.index = df_customers_id["cell"]
df_customers_id = df_customers_id.drop(["cell"],axis = 1)
dict_customers_id = df_customers_id.to_dict()
dict_customers_id

{'id': {'94a20c908ea398cefba903e2d6598ea2': 1,
  '5abd29bae58e80cc2513b9aa0f3dd598': 2,
  '90875eb5b8fc1c84cf9a395f642ac092': 3,
  '05f8673bd351bdb9bf3f503013784da8': 4,
  'f4e507f349ac8455d8426db77c377636': 5,
  'de39298ba26941840e146386726712c3': 6,
  '12d00e1f9372b2efb29413be3be299ae': 7,
  'c0c82178f974fa1ed40e60c9ae72b8eb': 8,
  'f2a89aedd5b57b3656459fc913432d24': 9,
  '6db2e0ef79bd4b1461c244428e467997': 10,
  '06206c7115f9fee591cb51fcc0060079': 11,
  '525f7fb91c497be839eba16fe588ab5c': 12,
  'e748dc95fd8e241f07d7774f9dd0b9b9': 13,
  '61ceab2e2c8357806303e532f3e99c64': 14,
  '4af05ac2132a43a34b94ffebe1eeff06': 15,
  'd34bf83271c49c6a218977e5efce357d': 16,
  '763b3a2140685ae8105a89428f5ebb85': 17,
  '6baaeb59f010aa7371756bffe5133f8c': 18,
  'd5ccaf283ec841184c4a815483e1d660': 19,
  'b2f9650bd5ffc1159fdf8c6aa4f720bb': 20,
  'c7a981b684d178e0339b09df42c9947f': 21,
  '623ef9f449bf880caf5e485c7e0b3dd7': 22,
  '8cb245b651c1925be27f07808ebe02e7': 23,
  'cb7b354d1088c3c4c6ff490d2ab649f7': 24,
  'cd749b8a2a519712bf89538278f94d41': 25,
  '5e4662bdfc838783218c970fc04aad02': 26,
  'a51257aba4bd89d33d3a6fa942d45870': 27,
  '2b62343636cbca2c9cedbc5e61c7bf02': 28,
  'cd08aef7321364d3331766a407e2007c': 29,
  'ad2cdd0046d883eeff435a2822785f49': 30,
  '3f9da93dabab167b674c56d2d750515b': 31,
  '334a8a8fc0274a1132ac265ac78ab5a0': 32,
  '0bc9380a196b75d4d5baf08908071ad4': 33,
  'c6f68d10b98cbb22de2568e78615b314': 34,
  '1a97757a46318cce46aaaadf293ac3b9': 35,
  'a7f14c87fc09313b238ef5d9553f0e30': 36,
  '8ef4fc4bf56800033b39848870abc26a': 37,
  '895218c3fa9c467222ff7fdb83b19284': 38,
  'bcb45f276699c263697bb09cb368f94e': 39,
  '3551ad69203327b78e6c7a176fbd7896': 40,
  '20bfa6f2dcefcb6c66567705d92037a7': 41,
  '600827ed70cbc817f90c55c43da2e681': 42,
  '670a1521172054af53d0937cec0ba9f7': 43,
  '288bedf57ad9287a18b6d02b30ca9722': 44,
  '2549252229ee55987ad74453088a8059': 45,
  '4c8f984574b55870322dc40bea4636c5': 46,
  '1a3bc336e8575f201ca3e0cec8dbbe1c': 47,
  'ddfb4c98743d3803adbca7528f443efd': 48,
  '3340b7ad0f9173505fb377261ccef12a': 49,
  '683686f5251a8a4b2b0cff8be186533d': 50,
  'f3843b92cf33ab345c70155de32dec05': 51,
  '5d89ae76174ed72108110721cf7f4a5a': 52,
  '85c7f4dfd69469f5ceaa5a1f4657bbae': 53,
  'cf59c1ced1b1db9b87e58f1bb9cd48e0': 54,
  'e4384292789351a39c1eb47de55f6a26': 55,
  '1338de6dbb1f23181cab4e218b882edc': 56,
  'e9ea0f25911e47206e95b8571a220a1e': 57,
  '4b2d0cae2c9ab60b04feebc540c04c23': 58,
  '9f1ded337522bf58ba21e5a057a7dbd2': 59,
  '702b410c03123f99300f1355e243efaa': 60,
  'f67a7d48f2f2a4c332199db1006a9ad5': 61,
  'aa60bffd241b44fd74b1d7b72db7fc52': 62,
  '1481ffa3e683ce7ad0ff95696b603a42': 63,
  '87f12b6effa5430284f2efa397c7f6e1': 64,
  'c74945cf48e8fa175ad0d557645911c4': 65,
  'aec5a1de7f5fb87db065520468d9fabf': 66,
  '3a3e337689d6881addb4dbacfdff6a7f': 67,
  '52012166681d66dd5650619c39d3753e': 68,
  '8c2eb539ef1f47e41ed6f14f6eaa1014': 69,
  '776cdb9c688b83932ffdef66f3cbb7fd': 70,
  '56c70d0ade67ddaf2e32aa9fb9b923ae': 71,
  '98d35ac78bd61b81ffc61c418ff9738c': 72,
  'b7bacd2ca679df02f864c0497109e2fe': 73,
  '545fead6dc42b7805447d4e31606ae47': 74,
  '89327eb03cb2207434b3ddd1e6ab4653': 75,
  '7aa11ee9b6df8a6c3fa6d723a513ebf2': 76,
  '6c87bdf152e83eda6f4b7ee6705b1b8e': 77,
  'ca0135d79b14465e51c22be73977ab3f': 78,
  'd44b346909967a0a066f315080f9ad08': 79,
  'a9c2aad26cd1185b92758bb0f3aff580': 80,
  '5586e6809e02dec9b7f3c46c3de08306': 81,
  'ff29cb651b4db5603d55152c5cd4b9b9': 82,
  'fe6a1c407e8417006288144deb8b39d0': 83,
  'b63ca5038f06cc6c8dc71f7841fff9b7': 84,
  '879e22eaf5215a81d61f8246184ccd6d': 85,
  '488beff3182360030c7bc0e74046a9fc': 86,
  'ed9f66815bb11e862236b0d3a9333c0a': 87,
  '47fc3276915e33d4741b970321ae8c57': 88,
  '08e09468338c8cb67093dd33d8a89452': 89,
  '82d9bd6fdcf9d9dedc62fb99c1255b42': 90,
  '2ea1a9fbf7216c86cf64fdfebe73c1eb': 91,
  '911bb3dfcd6d0df6831cad34eb0fdf71': 92,
  '09da6297fb5a8ee7dcc4e2a9fa50de32': 93,
  '82187ee6d0fe9f56ca85e8b680f7cb99': 94,
  '5c1ffc3102501ecbd3af5ad5c2d1ad01': 95,
  '65c8a806662a2c88d459553e871f841e': 96,
  '7f63661433ebfce620154da72301bc11': 97,
  'c3961d051e9b20b0a2151abd0c0fa4a8': 98,
  'c3b5eb8ef7bbf2a93e62e9de78bf7387': 99,
  'cd803079e9a170b8af85ef1db14c8dd3': 100,
  'c5d0f772f987728c122ac920b8d52c2a': 101,
  '87bf5f46f24d427a44b6e228a08802c4': 102,
  '4fb5fb194ac15937360928de0c386f4d': 103,
  '363a568bded2d5006a7dbfc4822b7430': 104,
  '41bc90d96b056f5c235ec2cb0a175e1e': 105,
  '8b1c58c4a0cd67f3423324e4effe94b6': 106,
  '9dbd6ed81b4ec250183c2f2e795191c8': 107,
  '547f36de4bc8818f4211b5590e2e5c3c': 108,
  '9c32d520b9082e5854e1f97d9d1c1622': 109,
  'dd0d4c04079231d8f068c42784ddacd0': 110,
  '789132ed710b7ee5321ae6547ce64f03': 111,
  '5b2319f86eede746e348b0239e42502d': 112,
  '99035bf4934fbe473bf9e2a0d50b6836': 113,
  'dab7db43e13c63a8e622ab8a7349dbe8': 114,
  '284daf9d7749a11861c2039eb7b74d86': 115,
  '28ee78b7a85e019277b35779ac5aa77c': 116,
  '9a5dc0de22c7955d95c8a1711d26a063': 117,
  '7f9b641270031c8ff2e064de037508de': 118,
  'cd6b4bf059771e21d61e605eb8a35f42': 119,
  'fc2228a7ab1cc0f264f91806d7b892b6': 120,
  '61293c412f4d1e19b820d4517e2dbd41': 121,
  '85e0eee96c1401e5f530b8684e4bacd0': 122,
  '20c9e635c6de8fc672eedca078b92237': 123,
  '05132eb1794f9fbedc8f30222994bc8f': 124,
  '8e0cd23e46ae519ab10e7ec01ae1ed72': 125,
  'f43ac69d9727874b1bfdc6a582b18b81': 126,
  '4d329d33c40dd0a774e0d24c8b6a4768': 127,
  '1324cd4c16a86b5bf357757e302c65db': 128,
  'aa4dfef3e77628b56ae57c9c76738b01': 129,
  '6e7ad5505eb8cd05877cf70e5005c5f5': 130,
  'c4b52d2fd7c51431ff3f5cf4a7657cc1': 131,
  '74faad2c2b29212814c061891bccb029': 132,
  '245314cbd3147720e2a1d09ad8ca8e66': 133,
  'fc5c4c5520a026beba67bcc45931902c': 134,
  'a064fb269ec0e580d67e255d0138cb9b': 135,
  '7a0182c1b7b5cce3e62a08893fd55866': 136,
  '8e1d768214ede5b2cf6d97577147a6ac': 137,
  'dbd6599f7a6a5a06b0eb99b82eb48718': 138,
  '606bf1b33dc46c4eda7c713ea2890ee9': 139,
  '05cdcfd7e5c986ab1d3abee4681948c8': 140,
  'cfbdcb7e32d0c1752c3c0fbacae874e9': 141,
  '5b42c6c2b5feb35394d1bd30a3a14cdd': 142,
  'ae6954023e17644d1a3a5accb0ed39ed': 143,
  '0b38db0fa8f551e061b2c5f615df06ed': 144,
  '8436a58f2c169aa8078f6a6e5c2657c0': 145,
  '3c2a3e2679702ab3cb14d30ecd281b7e': 146,
  '8babc977c07a6a5f5208d321a0a499fa': 147,
  'a491acbabfc601f1636eaab71d2f1be7': 148,
  '08e935c5ca993a9f82c384b6849741c3': 149,
  'eadb345b9b1b53fdea3a5c44c6921032': 150,
  '97e7cd6c73154549e1c35b5828582c1b': 151,
  '50eda18b24c76235e66956f559c3ef19': 152,
  '081df431f329f62a89ee7ae29a45c6c8': 153,
  '5e451cb64c96e7dde46ba3434ee1e9f5': 154,
  '0ecdc69ffc27e42191c43cf08458a3af': 155,
  'cffb06f328456b2bddec32cb349d6fdc': 156,
  '6cda6ce6949614b994925c821384d7f1': 157,
  '8ecdb51d1767dac670c392c3e27b628e': 158,
  'e9726a7780dcd953d5eb7e3327c7ad23': 159,
  '1a1678834b177231998ef07398767eff': 160,
  'f2ca9f259fcb8be4b9dca28d9cad6557': 161,
  '4bb6fc9fdf8a710ca7aa8ec5bd27bab6': 162,
  'f09d9d0e1b6a281bf2a952f053d95d31': 163,
  'c2e4437b9c3255b38b5bc54038ffe27a': 164,
  '697b603e43de4af11350d45e09517b97': 165,
  '08579463bda88f4147a8faaa47515f78': 166,
  '26eb0350d2f37c165e77dc77c18b725e': 167,
  '7d0a10d2568833c3b90d1118e86532a3': 168,
  'fab64b07f52d47623e139f929958367c': 169,
  '591dda85900662fde01710b6a70d7554': 170,
  'f85b694047e624f6f68867ad8f5c33d9': 171,
  '0b47b2f7a77b24496e899a0f756d1e8b': 172,
  '8d49218351d4958a4e17fed16370824f': 173,
  '1f491f5187d06bf5bcfc4f6dfb07f790': 174,
  '44d6b54bb365f48da1f1b0aff21c5a42': 175,
  '7a2a441d60195d0dbc1eb135f0feb81b': 176,
  '06264b60aaf69cc35b98d0c287705f3e': 177,
  '054a345a76068f46d9feb967f7a2219f': 178,
  'ef78fc5e60d4c4bd123e2c983507d09e': 179,
  '9cc43fe2627a47233ce851ba857d6ac0': 180,
  '9644c56fafc11838f9cbc05440155f00': 181,
  '99219c75277b622ec0f873a6987d50ae': 182,
  '2fb001c5bb8c4495e4293706b3557b74': 183,
  '205f957a78f4d695a090280e8701f7fc': 184,
  '9d64b7c987d58d759c9873657dcd9ea9': 185,
  'b7631a5da863262d8d2f76cda783d6a6': 186,
  '399dfe21c2c8f106385c46c988bfa1a9': 187,
  '37f4c46ced3137936a0f3d64c9528499': 188,
  '085a20b961d5e9e663c0a72c7c9062ac': 189,
  '0bb2d6617a179723a0bf7d527a03db3b': 190,
  '1b1e5f2f716ef8989237f039803f73c9': 191,
  '2965d10126bea878e89ccb58af19df8d': 192,
  '11fe8808b99aeaafd7295ed56dd2bcf7': 193,
  'b6e6c12f8c2858e6be86639bf30f5a35': 194,
  '185d7f629084b57600c7e7a30afd0f45': 195,
  '1f882d6805b5ce5e30ae3d659cd8fea9': 196,
  '7bde2ab4f66d5081a9caca6fb294d3fe': 197,
  '20766f16f887c006f5ac0aa86a3eda03': 198,
  '805ef7340c9b0b5cb1fdf761c53485fc': 199,
  '1b7b551aa421d8f4f171ff661926fc1a': 200,
  'd69a97403ed65642f5427f4979820257': 201,
  'fd427f67e942baeea4aedae9202fa17c': 202,
  '24e8b8c90f97d2b94f3e4cf9d84ca7a4': 203,
  '0a30d25d3edbc17aed38124672e307e5': 204,
  'b66c4de45f6fe4c8c3b7a4be6b4b683a': 205,
  '347aa2a2ee720dd64524a97ba59c1067': 206,
  '216b9163106c16837aafb145784f79bc': 207,
  '061409fcc86bfb112f2b42b1b7a7ab30': 208,
  '1f3750c02a55ea853c9939161b55239f': 209,
  '6a32a59c113668b20a2120eeef0bdb5f': 210,
  '8d2ac536d0bc2ff0ce04bf648e998ff8': 211,
  'cab5aab591497ef29b7e8c90731eefda': 212,
  'c7f6756d3f7d993d69dd81bf84508b60': 213,
  'e0c2053d200ad3f4961a25dc60a1f9c9': 214,
  'e5c8318b50424c4b5c86a5f31516f3b7': 215,
  '382fb8dc0bd7eb9abe5d6cac0d482c5b': 216,
  '95856afd1e945024497ffe7aa51bde79': 217,
  '7fb0fe19cfd40903f5c6cf74555482db': 218,
  'e332ea0a0e389c06b1db4aeba853d833': 219,
  '14db31eb6abc46a97081114f0d90e049': 220,
  '219477ee6abeb91f681610691d1862eb': 221,
  '0fb0add6855833f6a3894f372a4133e8': 222,
  'bd17bdd81d0d41fa4d9d99de8c3195d5': 223,
  '82f8d139b43f857684a07087b6e9e0d9': 224,
  'b18e361ed4eec19af56d873007cd81df': 225,
  '803bd48c6b1dae2c154f032c98da5aa3': 226,
  '302264e9d4b8ffd83b7727d166d7edc2': 227,
  'da0526b5c8d8ce08cc45514e1b177cf3': 228,
  '4cba377d41266bb8ae40482af73100b6': 229,
  'e75795430eab27752ac1fc5a79d019d8': 230,
  'cbf60b04251daa14736abadc027a6ac3': 231,
  '90ce60393d5fef1c3f48e257dfd41280': 232,
  '2e51f504927225dcda6820d2e66923e4': 233,
  'd68e29ea2e28c422dd340d359495333b': 234,
  '916e2b8dd5f0add2b2292cb565ffe090': 235,
  'db1725ca44489bacef717a17dd10eb71': 236,
  'adb7a4a8eeb22057d2141bb525552ebe': 237,
  '71800ed8ebf3b1de7e96cfffa9896f24': 238,
  'f23fe903cbed140b5b5276057174a916': 239,
  '6538bfd81fa8fcdcd9d73f9c1f1d41d4': 240,
  '9d14f186f642b7911d6afd535b0b2576': 241,
  'c785bc3683634ce70291f90b77eda168': 242,
  'c20258f52fa4cc98d0d364403417bf06': 243,
  '10756978c8884cbd72f3db336fd625c2': 244,
  '6fab64259ec12d85c798d1d09e37cc59': 245,
  '91dbbfd54893ac131f8e7c27382836d8': 246,
  'c943c541d5783a6e5870cfb0f719b669': 247,
  'e0d909d027d0ab37ddd225585ed99aed': 248,
  '73c058a28ee11e40ae3b0c0d75d13c4e': 249,
  'b2c93273dc0d1a1f40e74accaf7d260b': 250,
  '5a2964ba90d7769d9716a125fe62dd2f': 251,
  '654edb5036b028ee9034f12dc76ce019': 252,
  '2baa8d64ca048398e6ca919ce006d180': 253,
  'd1dadac40c35a2d70fed7149530059e1': 254,
  '266abc9c0f3a23c8eb1e5dec3b79bd61': 255,
  '3fdd7bc44fc142fef10c88beb926e4f9': 256,
  '3d7852292d761b742a411f81cd04c472': 257,
  '25f5cfbc77259839da556b57c9a9ede6': 258,
  '4ba344ca52ff2b8adc68054be6590adc': 259,
  '9f55acc05e0c24e11a39e67acd91d548': 260,
  'b3f99d250edcec6068850cba15da94f8': 261,
  'fc18f1298a6b89c1cc76b40ff1c2137c': 262,
  '718f736c958886a63b71680d2158a157': 263,
  '99e9f7dbebdacdb6e23ebdda2b75289a': 264,
  'caf0bf79ddf0d5b8fbd42785b504699e': 265,
  'ef18e3cb1c998cd6b3cd1f3e4ea5bdb2': 266,
  'fa3d100f567cfd4b6663646c1ebc88a6': 267,
  'ce82236702341ea16eea2daf1a295bdb': 268,
  'f13a503bd6e19020a4b4c9f70980d5b6': 269,
  '5a78268b8bb057817f50d9e84651ce21': 270,
  '6c622537a0169b28856bf6e66cd4861a': 271,
  '5762309615fefdf1bdfa5edeca2be2d3': 272,
  '55986f9567f6965f8513e752f2e129c1': 273,
  '6e48f80f2d0e2c41c53f7d1b9902b9f4': 274,
  '3d9f231a2714699b86c267e27709ac9c': 275,
  '2705d7600ebbf53ef96c620f6d019e20': 276,
  'ea5e565bbf2780dd0f2313edf8b29a16': 277,
  '6b6fb60115ddbdb60039427e85e0ffc9': 278,
  'e44b633c4254275f80f3ce1f44a35ea0': 279,
  'def9e8666a60b0ac2c1f2260a4299ad6': 280,
  '88b268dfa92bb63eafc27d1c66db7368': 281,
  '7a1f519068e76192ae502584406083a7': 282,
  '866890278e381624202e669f0727e767': 283,
  'd4e2080d487416ab4e52fd47da3e7313': 284,
  '82b4e141d695a40cdd16d81937e43538': 285,
  '6b595cc5827adaef5319cfbe0cb32dfd': 286,
  '22791f1e2774cedee29d17bee285a942': 287,
  '5f2e139a2da03ae6bf858fdb42c5b330': 288,
  '8f37a0c90852be94bc74f17662a0c317': 289,
  'be330097bf1b16f7b2746d5bc68eb140': 290,
  '4aefdf284c1b0ed55212a786c6a5801d': 291,
  'a09031453283e8eb2373abe7345b7a73': 292,
  '24d8ebf2a00df87dd59f4e2993b90144': 293,
  'f46d1da3e7b080ba1824c7af84c1f13d': 294,
  '0bd1bffa0abfa53990515fd933d672e2': 295,
  'b9a21af0da0b7d627afbc807eaed632d': 296,
  'efa071a06520a201afbe5b673cebf09c': 297,
  'f880aece07c82fde6baa59fca96d0fff': 298,
  '957b45c71af4db81f61eb61a3a59b4ff': 299,
  '505f21e0d29c73f3bd71f52d87d95342': 300,
  'b3c6a44631bbaf1c8e23a8a6e2b32338': 301,
  '93f7703fdb8f8a4bf54fcbb31179532a': 302,
  'e332e3fac256d98a126629272b754ccb': 303,
  '14241d3d9f1a8348987913064248752c': 304,
  'e16bcab5d45efede824ae9c577deedcf': 305,
  '07daf6a2dcedfc970815532b5d8d441c': 306,
  '22fe62d1ff3c4177bdacd9622c937be4': 307,
  'df83dc34f0615d57dd34352d4a2c43f5': 308,
  '122b34470d23d3e9521a51e85468bcf9': 309,
  'aa5621d39292e74a7eb6c8eb0ac7c8e1': 310,
  '51dd9acceabef2b1bce727aed78c5e30': 311,
  'e48f50a47650bb4babcde082a63ef217': 312,
  '579eb71b604ba86e63a86995f48ea5c7': 313,
  'ab4011159685ad70ab7eed7b657f82c8': 314,
  '0aea489234d7900b00c601e01c7d5108': 315,
  '066558d83d0076c484811edfc8e82ae1': 316,
  '0bf8317281cba1b1d21a7709b56460d6': 317,
  'fe8ad5be500f0390712f5554e221d3d8': 318,
  '2374d0a58172fe8d70d7aff2ebeb1f60': 319,
  'e5ebdfa33aa7dda2b770c976d687f234': 320,
  'e76122ea68824ed3f09b3380dda83bd4': 321,
  '98162ef01a259d8f8925ff95a9baa515': 322,
  '29adcca76f2d79fc422d3b6c6f465080': 323,
  'ac2dda555726348cea5658b82b10b9de': 324,
  '921946175209ba09af2acba86090a6d9': 325,
  '96b83979c32618ec60d41428707134c2': 326,
  '07f97967defe451bedcb7f6173c8bbe7': 327,
  '4374fde609146ce0be1b58c31a54a8f1': 328,
  '7208f97c3969e733b2f2789132ab6e0c': 329,
  '3eb84e8331c5505ee1c45ddd2a967a2d': 330,
  '4185f7ffaab5d25b77303fd66d01d884': 331,
  '42f699308fb1fc4f57770a030b68d640': 332,
  '94dbe92a72d7c41ad396e9e2a111ff85': 333,
  '88ca2f65ef11bfbf2021e327a8bff451': 334,
  '419e8c79dfd38cc7bf97cd044be3eec7': 335,
  'fc92f1719686a0fb8d375c8ea789443d': 336,
  '4473945d8bd3828f7aaac63034c93a1c': 337,
  '331b7d99972a0ed9922d03ea3e5318c5': 338,
  '1dd14bba42849ef3829caf866070af13': 339,
  '9a0456c753fee58f16519c55950783b2': 340,
  '84fc451be8022655370f391ef3e22d33': 341,
  '762d1d8ae2455f85053581f53cad62c4': 342,
  '749705e16944663f105af4b4d40f6ed3': 343,
  '3f330fbc65b2285d6454abb6598325a5': 344,
  '84e80fbe619f54a63e30d808c963f59d': 345,
  'f443a8937b56c9327d1e804b0f9b5607': 346,
  '02dff38bf023149e18c2dd8ee0d0e12c': 347,
  '60dabb3082061da8909af142828bb4b8': 348,
  '8c27e08e9bbf8919f762d9f1c2d934a6': 349,
  'cfeac5eaea87888bf75dee44682972b6': 350,
  'c5d13be5276ff3ed27dfeb3f18439c06': 351,
  '902ee4bf679aaab1b317a2cba77eb450': 352,
  '0534ea36b83ab3ebcbe39223e2800639': 353,
  '026c4f3727984a22ac420dd3fac7988e': 354,
  '175e6de7af2fa03a2bb5fe1d05c50431': 355,
  'edc9f2038972408252f95dbab17b7a49': 356,
  'ae79231fb843e5449eb8a2f8f4742b4d': 357,
  'f168edc78050fb78eecdd7f190abc521': 358,
  '01999931f327123af4c877000b506fd4': 359,
  'd4d84ab84d1e3fd91f8ead644ab5aca2': 360,
  'f0da8c17f953ad5b099bff158b212522': 361,
  '62d19e2a62cd615f6eb7aa270d1224cd': 362,
  '2ca572c3105271b302f0b8c5e5d262f9': 363,
  'f844791dd89ba34107a4743b63bf4666': 364,
  '30c62a42eb89045af7e93c7cda54d4e0': 365,
  '4dd1611d9745692af41e6d72ca581df6': 366,
  '97ede0ec13590e1742b18cd3547eadfd': 367,
  'f77ee426a02de1ff8f77d29bc523ea74': 368,
  '3a07caf55a6914752642ff976e3822ac': 369,
  'b2f59748a2836d8d844bbe42c69deae2': 370,
  'e9897e608c558cc9c20e195b702c08ff': 371,
  '2925eb1b2b47d91ebb8d353c3c1465bd': 372,
  '9976b24e0c3be5d038deed21138e89c0': 373,
  '28836d7583edca0600c57a0fa6456862': 374,
  'f03a8b3afe02d4d04fb503a9a5dff894': 375,
  '3cfc6e13b81ef2d8eff48ca64f1e793f': 376,
  '7b3caa8622ac75802c71729e3dc7cc63': 377,
  '7bc0f76f23cb21e70fc9081d6d9e170e': 378,
  '3f74367a26f002d88666b06cbc09098d': 379,
  'e555abc96f521f8d304383f658ed5716': 380,
  '99f871fa874d089b8f532ef3736e7dd8': 381,
  '7414d2639dd3373096401b583b8f3b2f': 382,
  '44d0ff18605d13be0b0e740df5d064eb': 383,
  '57b1073c55277185780fd712070bbfcc': 384,
  'b03818b1699231fc2fc432a2b8d2e399': 385,
  'd684cfd6dcdded99bc2cd9f6a475ecd1': 386,
  '187d8574a5f7bdfd7c6f7dc05d2d2628': 387,
  '7b0fb822ff97626e2689329172c5da39': 388,
  '9e60a9039251f3a93e76e62e25934368': 389,
  '46ef76c53c71168c380b29650a2f9635': 390,
  'e38dff286719745f88851e76afb70b99': 391,
  '6dad626e6638f5d66b33c6646278fb5f': 392,
  'a55663125aab06132b4692183fc10d86': 393,
  '84d68fcb010fd7e82875134924c771ab': 394,
  '827562af816315469152d1e09058eeff': 395,
  'a4ba7aa2d56f66a417fff86f789a435a': 396,
  '67e0928bfcfbe112328a1030a042be77': 397,
  '6c002b9c3d64e5e7a07445e1bbe723ef': 398,
  'ec9f36f239b4c417c2e02251d8e9b817': 399,
  '35491c94dd9e05530af5d4bb639ce45b': 400,
  '95a9d79c7d4a5fc40e7d42f58ba5512e': 401,
  'f5f886fe8556d38e863a21d4b2742b82': 402,
  '08ccd6ff307252ebbc44501e37201f7c': 403,
  '0f077b68c40a51accd5fd615c648ee0f': 404,
  'dc501a5a0c24bb77c395e117752fddc8': 405,
  'f5260039dacd9067b7fbb6a97f34dc21': 406,
  '60db068a09dbb5fd9c683799f56dcf14': 407,
  'fe83176f34f675dac018abfeb2051b0f': 408,
  'bed1aff518d16702dd2c2a9c611833f7': 409,
  'a14980c87fdc2f1173a75a18129bbe78': 410,
  '85b5d5ad056edbc5bd67102e4f5eaa6a': 411,
  '1c2a49d5ae094abb5a4ba860b88b7391': 412,
  '208985665609614b7dd4af8c3d65b0a1': 413,
  '3b337c9d4ae63168dbf45c5544e6403a': 414,
  'f4e2479efb5cac9771719064a1aaed4e': 415,
  '533223c4a61d7e5b18dc6d2786d51c9a': 416,
  '059432b827abe14a6e91b9b2d0694c28': 417,
  '1197a527936f7a45db69652112aa1829': 418,
  '70b0167538e08c1ca1053da151bf0b10': 419,
  '6928a811bcd22a67b01bd5c437d975ae': 420,
  '34f90e17232923bb024fb4a87125a984': 421,
  '480350215d210d5e1d049919a05aca13': 422,
  'df375ada65c8036d39bb5624ca843581': 423,
  '39fe0f642946ee5e016e96060094da88': 424,
  '62ea2159562c1315dac30bbef8e549b5': 425,
  '50a78cea0bc94ad4f7195e714cfab519': 426,
  '2a560df780e70b5cdbaab66f4563f10b': 427,
  'e7ff0f7b05f690b6656f87a804f2bed2': 428,
  '1da8d14de17e71f683b4b1963c624707': 429,
  '5b8baa2d00bba139423ef61e5c20228b': 430,
  '788635e4da1ed3442afd380f7eb3f6af': 431,
  '62d18faf54e2b636e3d7530750874b0c': 432,
  'c2311311d2fd1365e948bf5a4c4e3b08': 433,
  'eea0648f38b6dbdd7f12e6d47e0677e9': 434,
  '707c93ff48ad4f0a93cff9d3c02f9562': 435,
  '3301150f70b1cf6bb0590d548cacab8c': 436,
  '889e3ef124d484b37aef45a9a605387e': 437,
  'a7263c2b0b4208cfb4a8d91638ecf92f': 438,
  '0bd91516fd8acf20fde3f98a3f5bd3a5': 439,
  '5a4791fc8ebe766acc37977e0eb60303': 440,
  '2a8296a13d53aae165ef9b477705c140': 441,
  'e6f8f47a41aab72c3593303568d4e169': 442,
  'e663a081a36e8688860bdaf6ad07f903': 443,
  '0021fd70fe9654da0544f842bc6695e2': 444,
  'd08d5c65332581f0015e4ae929753b0e': 445,
  'cdd49bc9fb544c91f868b76fab855a4f': 446,
  '3305c419529b399b6199bee3654ae18f': 447,
  'ae561eb61e4a143fc248d48fdb058695': 448,
  '503804a647e927bf797f94a77351be1c': 449,
  '5e9b20d95adc57b9ae78136caac8401b': 450,
  '1d157405cf4faf4644bbbcd8407b23f4': 451,
  '597ca3de2723c528380c8dd3d580eabb': 452,
  'c45a78f05f10169abceeb5750dbae4a5': 453,
  '6a711a42cfb2c22f99492b8e68ab1a0f': 454,
  '79166287628a0b2cb4db5221fb66228a': 455,
  'dd3b6562a53032acee9ac9ac2f69729e': 456,
  '0c7d04999ac155dee64f8d79cfd8e47c': 457,
  'e6025c9b0515c23a01a56cb4a0606ecc': 458,
  'cf570b821e55b7c5ab7c009aac70dfb1': 459,
  '709051ec85e5c9f1b830fb4eb1af3114': 460,
  '6b1e997c379995fc7a4815b6a28918bc': 461,
  '5185deb8d6003b5a3c99072a76e3db26': 462,
  'dba253d5f4c369ce928ed5506169376e': 463,
  '56252fd4be2ee19ee0c00501b6ef441b': 464,
  '34c110c1c797ee0870996ca7d615f2d5': 465,
  'fd137c74fd62e0f5fc7b6318264c3400': 466,
  '49f0f3278b428644e247413ea00a4be7': 467,

In [32]:
### 最后将df_missions中的“手机号”列转为对应的id：
df_missions["手机号"] = df_missions["手机号"].apply(lambda cell: dict_customers_id["id"][cell])
df_missions.head()

     手机号 销售姓名   沟通结果        date
0   7409   刘洋   继续跟单  2020-06-01
1  19304   刘洋  非意向用户  2020-06-01
2  27643   刘洋  非意向用户  2020-06-01
3  10895   刘洋   继续跟单  2020-06-01
4   3678   刘洋  非意向用户  2020-06-01

In [33]:
### 从刚才保存的staff表中读出"id", "name"两列；
df_staff_id = pd.read_sql("select id, name from staff;", connection_2, columns = ["id","name"])
df_staff_id.head()

   id name
0   1   张艳
1   2   李勇
2   3   王平
3   4   李强
4   5   王芳

In [34]:
### 将“name”提出来作为索引，然后将读出的内容转化为字典；
df_staff_id.index = df_staff_id["name"]
df_staff_id = df_staff_id.drop(["name"],axis = 1)
dict_staff_id = df_staff_id.to_dict()
dict_staff_id

{'id': {'张艳': 1,
  '李勇': 2,
  '王平': 3,
  '李强': 4,
  '王芳': 5,
  '王军': 6,
  '李伟': 7,
  '刘洋': 8,
  '张勇': 9,
  '王勇': 10,
  '张秀英': 11,
  '王强': 12,
  '李军': 13,
  '王娟': 14,
  '张涛': 15,
  '刘芳': 16,
  '张杰': 17,
  '张静': 18,
  '王丽': 19,
  '王艳': 20,
  '张磊': 21,
  '王超': 22,
  '王杰': 23,
  '张丽': 24,
  '李静': 25,
  '王敏': 26,
  '王伟': 27,
  '王秀兰': 28,
  '李敏': 29,
  '张敏': 30}}

In [35]:
### 最后将df_missions中的“销售姓名”列转为对应的id：
df_missions["销售姓名"] = df_missions["销售姓名"].apply(lambda staff: dict_staff_id["id"][staff])
df_missions.head()

     手机号  销售姓名   沟通结果        date
0   7409     8   继续跟单  2020-06-01
1  19304     8  非意向用户  2020-06-01
2  27643     8  非意向用户  2020-06-01
3  10895     8   继续跟单  2020-06-01
4   3678     8  非意向用户  2020-06-01

In [36]:
### 取出“沟通结果”的惟一值，将其转成dataframe：
array_status = df_missions["沟通结果"].unique()
df_status = pd.DataFrame(array_status, columns = ["status"])
df_status

   status
0    继续跟单
1   非意向用户
2  直接签单成功
3    跟单失败
4    跟单成功
5    跟踪超时

In [37]:
### 将上述结果转出到recommend数据库的status表中：
df_status.to_sql("status", connection_2, index = False, if_exists = "append")

In [38]:
### 重新读出"id"和“status”两列：
df_status_id = pd.read_sql("select id, status from status;", connection_2, columns = ["id","status"])
df_status_id

   id  status
0   1    继续跟单
1   2   非意向用户
2   3  直接签单成功
3   4    跟单失败
4   5    跟单成功
5   6    跟踪超时

In [39]:
### 将“status”提出来作为索引，然后将读出的内容转化为字典；
df_status_id.index = df_status_id["status"]
df_status_id = df_status_id.drop(["status"],axis = 1)
dict_status_id = df_status_id.to_dict()
dict_status_id

{'id': {'继续跟单': 1, '非意向用户': 2, '直接签单成功': 3, '跟单失败': 4, '跟单成功': 5, '跟踪超时': 6}}

In [40]:
### 最后将df_missions中的“沟通结果”列转为对应的id：
df_missions["沟通结果"] = df_missions["沟通结果"].apply(lambda status: dict_status_id["id"][status])
df_missions.head()

     手机号  销售姓名  沟通结果        date
0   7409     8     1  2020-06-01
1  19304     8     2  2020-06-01
2  27643     8     2  2020-06-01
3  10895     8     1  2020-06-01
4   3678     8     2  2020-06-01

In [41]:
### 检查一下上表“status”的惟一值：
df_missions["沟通结果"].unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [42]:
### 重新命名各列：
df_missions.columns = ["customer_id","staff_id","status_id","createDate"]
df_missions.head()

   customer_id  staff_id  status_id  createDate
0         7409         8          1  2020-06-01
1        19304         8          2  2020-06-01
2        27643         8          2  2020-06-01
3        10895         8          1  2020-06-01
4         3678         8          2  2020-06-01

In [43]:
### 重排各列顺序：
order = ["customer_id","staff_id","createDate","status_id"]
df_missions = df_missions[order]
df_missions.head()

   customer_id  staff_id  createDate  status_id
0         7409         8  2020-06-01          1
1        19304         8  2020-06-01          2
2        27643         8  2020-06-01          2
3        10895         8  2020-06-01          1
4         3678         8  2020-06-01          2

In [44]:
### 将df_missions的数据导出到数据库：
df_missions.to_sql("mission",connection_2, index = False, if_exists = "append")

## 到这里，recommend数据库的构建，表的建立和数据导入就完成了。
## 后续在终端中用mysqldump命令将该库导出为.sql文件即可，命令为："mysqldum -uroot -p recommend > recommend.sql".